Basic Foundation Automation/AI Automation 3/AI Automation 3.json
{
  "name": "AI Automation 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "18_EN3bA18feJR6kBxeff7HzBL0CuiQbN7gtv3C8Zm-k",
          "mode": "list",
          "cachedResultName": "Potential_Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18_EN3bA18feJR6kBxeff7HzBL0CuiQbN7gtv3C8Zm-k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18_EN3bA18feJR6kBxeff7HzBL0CuiQbN7gtv3C8Zm-k/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "493fb692-5700-4a15-9791-0a049110f992",
      "name": "Google Sheets Trigger",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ItQvgfrX6QbVOxFV",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.genderize.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.Name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "a1066c19-a9e8-4ca1-8420-5df3165936db",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://api.nationalize.io/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $(\"Google Sheets Trigger\").item.json.Name }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 60000
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "4aa00b53-8beb-4c66-a4ed-6ce5eca9c1e8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18_EN3bA18feJR6kBxeff7HzBL0CuiQbN7gtv3C8Zm-k",
          "mode": "list",
          "cachedResultName": "Potential_Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18_EN3bA18feJR6kBxeff7HzBL0CuiQbN7gtv3C8Zm-k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18_EN3bA18feJR6kBxeff7HzBL0CuiQbN7gtv3C8Zm-k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $(\"Google Sheets Trigger\").item.json.Id }}",
            "Name": "={{ $(\"Google Sheets Trigger\").item.json.Name }}",
            "Number": "={{ $(\"Google Sheets Trigger\").item.json.Number }}",
            "Budget": "={{ $(\"Google Sheets Trigger\").item.json.Budget }}",
            "Gender": "={{ $(\"HTTP Request\").item.json.gender }}",
            "Nationality": "={{ $(\"HTTP Request1\").item.json.country[0].country_id }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nationality",
              "displayName": "Nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "458faab5-5613-443b-b265-d6908cc50620",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RCDlRVWE3qeSAZ5p",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ak414991@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.subject }}",
        "message": "={{ $json.output[0].content[0].text.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "f34f3179-e916-40e0-b560-7e429a575509",
      "name": "Send a message",
      "webhookId": "c16510c5-bfd7-4b9c-8a10-70a51bf1c6da",
      "credentials": {
        "gmailOAuth2": {
          "id": "jcDN33SQy9Ll3uxS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Hey you are a email writer, your aim is to provide me with email which I then will be sending on my email ID.\n\nBelow is the format :\n\n'''\nHey Abhishek,\n\nA new client has signed up, below are the details.\n\nNumber: {{ $json.Number }}\nBudget: {{ $json.Budget }}\n\nBelow is the expected Gender, and Nationality.\n\nGender: {{ $json.Gender }}\nNationality: {{ $json.Nationality }}\n\nDo make sure to connect with him at {{ $json.Number }}\n\nThanks\nYour awesome workflow.\n'''\n\nPlease make sure that the email is a lot in depth with more explanation and suggestion for the sale.\n\nStrictly give output as a json not missing any key, below is the structure.\n\nAlso make sure that body is html friendly as i will be using this via API which supports html formatting and I should see the email more nicely nd readable.\n\n{\n\"subject\":\n\"body\":\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        896,
        0
      ],
      "id": "9e602359-9957-486d-8853-06a9894721fc",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "tUHDdmiemNL7DgHu",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "output": [
            {
              "id": "msg_0fb0f6b51c25ae5a0069c7f849768081939751cb89ebd5c304",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": {
                    "subject": "New Client Signup - Action Required for Engagement and Follow-up",
                    "body": "<p>Hey Abhishek,</p><p>I hope this message finds you well.</p><p>I'm excited to inform you that we have a new client who has just signed up. Below are the essential details to get you started on establishing a strong relationship and ensuring a seamless onboarding process.</p><ul><li><strong>Client Number:</strong> 12345</li><li><strong>Budget:</strong> $50,000</li></ul><p>In addition to these basic details, we have gathered some demographic preferences that will aid in tailoring our communications and offerings more effectively:</p><ul><li><strong>Expected Gender:</strong> Male</li><li><strong>Nationality:</strong> Indian (IN)</li></ul><p>Given this information, I suggest the following approach to maximize our chances of conversion and client satisfaction:</p><ol><li><strong>Personalized Outreach:</strong> Connect with the client personally via the provided contact channel (12345) to introduce yourself and offer assistance.</li><li><strong>Customized Solutions:</strong> Leverage the budget information and demographic data to suggest products or services that align well with his needs and preferences.</li><li><strong>Follow-up Plan:</strong> Schedule a series of follow-ups to nurture the relationship and address any additional questions or requirements he might have.</li><li><strong>Documentation and Tracking:</strong> Update our CRM with these details to ensure all stakeholders have access to the latest client information and can contribute to the engagement efforts effectively.</li></ol><p>Please prioritize this connection and keep me updated on your progress. If you need any support or resources to enhance the engagement, feel free to reach out.</p><p>Thanks for your dedication and hard work.</p><p>Best regards,<br>Your awesome workflow.</p>"
                  }
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b71001af-e801-4c2a-86e5-4df9f1396ff8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4735bece3de0b5a8557e8ca4ca657084386378b54fdcabe8c68c3447287b6c2"
  },
  "id": "FpcHzKXrLeBE1UHy",
  "tags": []
}