AI Agent/Gmail AI Reply 2.json
{
  "name": "Gmail AI Reply 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -32
      ],
      "id": "a191bb33-05ab-440c-942d-3e46f622b091",
      "name": "check for new mail",
      "credentials": {
        "gmailOAuth2": {
          "id": "jcDN33SQy9Ll3uxS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -32
      ],
      "id": "d71376bd-b3f0-4d5b-b3ff-369f40cd667b",
      "name": "Get a message",
      "webhookId": "a8af39f3-27d3-47fa-8182-fb3f0bba3549",
      "credentials": {
        "gmailOAuth2": {
          "id": "jcDN33SQy9Ll3uxS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a mail responding agent.\n\nBelow are the context of latest email I got.\n\nSubject:{{ $json.Subject }}\nBody: {{ $json.snippet }}\n\nyou have to do 2 things.\n1. Specfy the label based on the email.\nlabel can be one of below:\n\ncourses\ndemo\nn8n\n\n2. As a smart assistant please draft the response for me so that I can reply to my email with subject and body.\n\nMake sure that reply is very respective and wherever required please explain student doubt in depth with example and also make sure that reply follow a strict HTML format so it is easy to read.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "b135fd78-65b5-4fa9-bae9-5745f5eade85",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        192
      ],
      "id": "cb833e83-af1c-4938-ac7d-83d4fb3de116",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tUHDdmiemNL7DgHu",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"label\": \"doubt\",\n  \"label_id\": \"123434738\",\n  \"subject\": \"doubt_answer\",\n  \"body\": \"Hey, Thanks for reaching out\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        752,
        288
      ],
      "id": "c0d4461c-b0ed-47d9-bb1c-89f0bbe45780",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        496,
        224
      ],
      "id": "52f3429d-b83b-4bc5-8733-9e6aa077c470",
      "name": "Get many labels in Gmail",
      "webhookId": "2fbfb045-4dd5-423a-8c3f-97409337fc89",
      "credentials": {
        "gmailOAuth2": {
          "id": "jcDN33SQy9Ll3uxS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id  }}",
        "labelIds": "={{ $('check for new mail').item.json.labels[0].id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        64
      ],
      "id": "e23e1a3b-72f2-4f5b-b790-95918f899e15",
      "name": "Add label to message",
      "webhookId": "ac327813-848b-498b-a70d-b9c2e1ab52fc",
      "credentials": {
        "gmailOAuth2": {
          "id": "jcDN33SQy9Ll3uxS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        64
      ],
      "id": "27878eed-56b3-47de-ad22-5151ae81be49",
      "name": "Create a draft",
      "webhookId": "c36d590e-02e0-49c9-b506-06e3abd27d5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "jcDN33SQy9Ll3uxS",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "check for new mail": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ec3b5346-920a-4e90-b0fc-e98938a6bebb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4735bece3de0b5a8557e8ca4ca657084386378b54fdcabe8c68c3447287b6c2"
  },
  "id": "VTYHGTP1X6UU2YrJ",
  "tags": []
}